:root {
    --overlay-background: rgba(0,0,0,0.85);

    --tooltip-background: #333333;
    --tooltip-color: #ffffff;

    --alert-close-color: #333333;

    --message-background: #D7ECCE;
    --message-color: #2C612D;

    --error-background: #EDD2D2;
    --error-color: #c0445e;

    --info-background: #C7E5F3;
    --info-color: #3170B1;

    --warning-background: #F9F0C5;
    --warning-color: #8A6D3B;

    --modal-background: #EFEFEF;
    --modal-color: black;

    --modal-confirm-background: #E2DEC7;
    --modal-confirm-color: #0E0E0E;

    --list-background: #333333;
    --list-color: #ffffff;

    --loading-color: #ffffff;
    --loading-color-inner: rgba(0, 0, 0, 0.2);
}